

.thumbnail {
  width: 100%;
  border-radius: 10px;
  transition: box-shadow 0.3s ease-in-out;
}

.thumbnail:hover {
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.title {
  margin-top: 0;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-bottom: 10px;
}

.channel-picture {
  margin-right: 10px;
 
}

.profile-picture {
  width: 36px;
  border-radius: 50%;
  cursor: pointer;
}

.thumbnail-row {
  margin-bottom: 8px;
  position: relative;
}

.author, .stats {
  color: #606060;
  font-size: 12px;
  margin-bottom: 3px;
}

.author {
  margin-bottom: 4px;
}

.video-info-grid {
  display: grid;
  grid-template-columns: 50px 1fr;  
}

.video-grid {
display: grid;
grid-template-columns: 1fr 1fr 1fr ;
column-gap: 16px;
row-gap: 40px;
}

.video-time {
  background-color: black;
  color: white;
  position: absolute;
  bottom: 8px;
  right: 5px;
  font-family: roboto,arial;
  font-size:12px;
  font-weight:500;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 4px;
  padding-bottom: 4px; 
  border-radius: 2px;
}

.video-title-link {
  text-decoration: none;
  color: black;
}